<div class="edit-form-container">
    <form class="edit-task-form" *ngIf="editTask" [formGroup]="editTask" (ngSubmit)="submitEditedTask()">
        <h2 class="form-header">Edit Task</h2>
        <input class="title-input" type="text" formControlName="title">
        <textarea class="description-input" formControlName="description"></textarea>
        <button class="submit-button" type="submit">Submit</button>
        <button id="cancel-button" type="button" [routerLink]=" '' ">Cancel</button>
    </form>
</div>
