.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.nav-container h2 {
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: transform .2s;
    outline: none;
}

.nav-container h2:hover {
    transform: scale(1.2);
}