.create-task-container {
    display: flex;
    justify-content: center;
}

.create-task-form {
    color: white;
    width:373px;
    display: flex;
    flex-direction: column;
    background-color:#303c6c;
    border-radius: 5px;
    padding: 20px;
    border: 3px solid lightsalmon;
}

.form-header {
    text-align: center;
    color: white;
}

.title-label {
    color: red;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.title-input {
    width: 100%;
    height: 23px;
    padding-top: 20px;
    margin-bottom: 1rem;
    outline: none;
    font-weight: bold;
    border: none;
    font-size: 18px;
}

.title-input:focus + .title-label .title-content {
    transform: translateY(-100%);
}

.description-label {
    color: white;
}

.description-input {
    border: none;
    resize: vertical;
    background-color: white;
    outline: 2px solid rgb(15, 15, 51);
    font-size: 17px;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
}

.form-buttons button {
    width: 144px;
    height: 25px;
    font-weight: bold;
    border: none;
    outline: none;
    background: rgb(15, 15, 51);
    color: white;
    cursor: pointer;
}

