<div class="create-task-container">
    <form class="create-task-form" [formGroup]="createTask">
        <h2 class="form-header">{{data.title}}</h2>
        <label for="name" class="title-label">
            <span class="title-content">Task title: </span>
        </label>
        <input class="title-input" #titleInputRef type="text" formControlName="title" name="title">
        <label for="description-input" class="description-label">Task description:</label>
        <textarea class="description-input" name="description-input" placeholder="Description" rows="5" cols="50" formControlName="description"></textarea>
        <div class="form-buttons">
            <button class="submit-button" type="submit" (click)="saveTask()">{{data.confirmText}}</button>
            <button (click)="close(false)" id="cancelButton">{{data.cancelText}}</button>
        </div>
    </form>
</div>