.task-list-container {
    background: #303c6c;
    border: 5px solid #f4976c;
    padding: 20px 50px 60px 50px;
}

.task-list-container .list-heading-container {
    justify-content: center;
}

.task-main-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #f4976c;
    background: #b4dfe5;
    margin-top: 2rem;
    padding: 5px 10px 5px 10px;
}

.task-interface-container {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.task-interface-container p {
    cursor: pointer;
    margin-left: 5px;
    transition: transform .2s; 
}

.task-interface-container p:hover {
    transform: scale(1.2);
}

.task-data-container {
    display: flex;
    flex-direction: row;
}

.list-title {
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.completed-task {
    background-color: rgb(99, 214, 99);
}

.priority-select {
    text-align: right;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

::ng-deep .task-checkbox {
    padding-right: 5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.list-heading-container {
    display: flex;
    flex-direction: row;
}

.list-heading-container img {
    margin-left: auto;
    cursor: pointer;
}

.priority-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


