.task-list-container {
    background: #303c6c;
    border: 25px solid #f4976c;
    padding: 0px 50px 60px 50px;
    justify-content: center;
}

.task-list-container .list-heading-container {
    justify-content: center;
}

.go-back-list {
    margin-left: 2rem;
    cursor: pointer;
    color: black;
}

.go-forward-list {
    cursor: pointer;
    color: black;
    margin-right: auto;
}

.task-main-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid #f4976c;ssss */
    background: #b4dfe5;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 5px 10px 5px 10px;
    box-shadow: 15px 25px rgb(0 0 0 / 42%);
    border-radius: 10px;
    max-width: 500px;
}

.task {
    width: 100%;
}

.task-interface-container {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.task-interface-container p {
    color: darkcyan;
    cursor: pointer;
    margin-left: 5px;
    transition: transform .2s;
    font-weight: bold;
}

.task-interface-container p:hover {
    transform: scale(1.2);
}

.task-data-container {
    display: flex;
    flex-direction: row;
}

.list-title {
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin-bottom: 0;
    align-self: center;
}

.completed-task {
    text-decoration: dashed;
}

.priority-select {
    text-align: right;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

::ng-deep .task-checkbox {
    padding-right: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #25d801;
  }

::ng-deep.mat-checkbox-frame,
::ng-deep.mat-checkbox-background {
    border-radius: 50% !important;
}

.list-heading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* text-align: start; */
    background-color: rgb(71 142 222);
    border-left: 1px solid #f4976c;
    border-right: 1px solid #f4976c;
    border-bottom: 1px solid #f4976c;
    box-shadow: 7px 15px rgb(0 0 0 / 42%);
    margin-bottom: 35px;
}

/* .add-task-image {
    margin-left: auto;
} */


.list-heading-container img {
    cursor: pointer;
}

.priority-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.rainbow {
	position: relative;
	z-index: 0;
	border-radius: 10px;
	overflow: hidden;
    padding: 5px 10px 5px 10px;
}
	.rainbow::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 100%;
        background-color: yellow;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		/* background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5); */
		animation: rotate 5s linear infinite;
	}
	
	.rainbow::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
        background: lightblue;
		border-radius: 5px;
	}
