<div class="task-list-container">
    <h2 class="list-title">{{listTitle}}</h2>
    <div *ngIf="isListEmpty">List is empty</div>
    <div *ngFor="let task of tasks | async">
        <div class="task-main-container" [ngClass]="{'completed-task': checkedTasks[task.id]}">
            <div class="task-interface-container">
                <p (click)="editTask(task.id)">Edit</p>
                <p (click)="deleteTask(task.id)">Delete</p> 
            </div>
            
            <div class="task-data-container">
                <mat-checkbox [(ngModel)]="checkedTasks[task.id]" 
                    [checked]="checkedTasks[task.id]" 
                    (change)="handleTaskStatus(task)"
                    title="Toggle task status"
                    class="task-checkbox">
               </mat-checkbox>
                <app-task *ngIf="task.title" 
                [title]="task.title" 
                [description]="task.description" 
                [startedAt]="task.createdAt"
                [endDate]="completedTasks[task.id]"
                ></app-task>
            </div>
            <small class="priority-select">priority</small>
        </div>
    </div>
</div>


