<div [ngClass]="{'completed-task': isChecked}">
    <h2>{{listTitle}}</h2>
    <div class="task-container" *ngFor="let task of tasks | async">
        <small (click)="editTask(task.id)">Edit</small>
        <small (click)="deleteTask(task.id)">Delete</small>
        <small>Complete</small>
        <div>
            <mat-slide-toggle [(ngModel)]="isChecked" title="Slide to complete"></mat-slide-toggle>
            <app-task [title]="task.title" [description]="task.description" [startedAt]="task.createdAt"></app-task>
        </div>
        <small>priority</small>
    </div>
</div>


